<ion-header>
  <ion-navbar> <ion-title>Comentários</ion-title> </ion-navbar>
  <ion-list-header >
      <ion-row>
          <mini-avatar [uid]="promo?.userUid"></mini-avatar> 
      </ion-row>
      <ion-row>
      {{promo?.dataCadastro | date: 'dd/MM/yyyy HH:mm'}}
    </ion-row>
      <ion-row>
        <ion-col>{{ promo?.descricao }}</ion-col>
      </ion-row>
    </ion-list-header>
</ion-header>

<ion-content>
 
  <div>
    <div *ngFor="let comentario of comentarios">
        <ion-row>
            <mini-avatar [uid]="comentario?.userUid"></mini-avatar>                  
          </ion-row>
       <div  class="comment">   
      <ion-row class="comment-text">
      {{ comentario?.texto }}
    </ion-row>
    <div class="comment-text">{{comentario?.dataHora | date: 'dd/MM/yyyy HH:mm'}}</div> 
  </div>   
    </div>
  </div>
  
</ion-content>
<ion-footer>
    <form [formGroup]="formComent" bottom>
      <ion-card class="comment-form">
      <ion-row>
        <ion-textarea 
          formControlName="comment"
          placeholder="Escreva seu comentario"
        ></ion-textarea>
        <button ion-button large round  [disabled]="!formComent.valid"><ion-icon name="send" (click)="insertComment()"></ion-icon></button>
      </ion-row>
    </ion-card>
    </form>
  </ion-footer>