page-coments {
    .comment-text{
        text-align: justify;
        padding-bottom: 18px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .comment:active{
        background-color: #ebe8e8
    }

    .dados-promo{
        border-bottom: 0px solig;
        margin-bottom: 15px;
        box-shadow: 0px 7px 7px #888888;
    }
    .comment-form{
        border-radius: 30px;
        padding-left: 10px;
    }
}
