<ion-content padding>
  <div class="titulo">Promo Pet App</div>
  <img src="assets/imgs/logo-inicial.png" alt="logo" class="logo" />

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <p></p>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <p></p>
    <ion-item>
      <button ion-button block round (click)="login()" [disabled]="!loginForm.valid">Entrar</button>
    </ion-item>
  </form>
  <ion-item>
    <button ion-button block round outline (click)="singUpEmail()" [disabled]="!loginForm.valid">
      cadastrar
    </button>
  </ion-item>
 
</ion-content>
