page-home {

    .titulo{
        position: relative;
        width: 100%;
        top: 5%;
        text-align: center;
        font-family: cursive;
        color: rgb(223, 89, 89);        
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-shadow: 3px 3px #ffffff;
        padding-right: 0px;
        margin: 0px;
    }

    .logo{
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px
    }

    .home-content{
        background-image: url("../assets/imgs/pet-background-02.jpg") 
    }
}
