page-user-details {
  .user-avatar {
    object-fit: cover;
    display: flex;
    width: 60%;
    height: 180px;
    align-self: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    
  }

  .botao-foto{
      position: absolute;
      left: 5%;
      z-index: 3;
  }
}
