
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Informações do Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form>
    <ion-item>
      <ion-fab class="botao-foto">
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list>
          <button ion-fab (click)="getCameraPicture()"><ion-icon name="camera"></ion-icon></button>
          <button ion-fab (click)="getGaleryPicture()"><ion-icon name="photos"></ion-icon></button>          
        </ion-fab-list>
      </ion-fab>
      <img [src]="photoUrl" class="user-avatar" />
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" [(ngModel)]="displayName" name="nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Fone</ion-label>
      <ion-input type="text" [(ngModel)]="phoneNumber" name="fone"></ion-input>
    </ion-item>

    <button ion-button block (click)="updateUser()">Atualizar Perfil</button>
  </form>
</ion-content>
