<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu - Promo Pet <ion-icon name="md-paw"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item icon-end *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
        <ion-icon [name]="p.icon"></ion-icon>
      </button>
      <button menuClose ion-item icon-end (click)="logout()">
          Sair
          <ion-icon name="md-log-out"></ion-icon>
        </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>