
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Promo Pet</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding-bottom class="timeline-content">
  <div>
  <ion-card  *ngFor="let promo of promos; let i = index" class="card-promo">
    <ion-row>
      <ion-col col-10  class="promo-header">
   <mini-avatar [uid]=promo?.userUid></mini-avatar>  
  </ion-col>
  <ion-col col-2  class="promo-header">
    <button *ngIf="podeExcluir(promo.userUid)" (click)="deletePromo(promo.key,i)" ion-button round large clear color="dark">
      <ion-icon name="md-trash"></ion-icon>
    </button>
    <button *ngIf="!podeExcluir(promo.userUid)" ion-button round large clear color="dark">
        
      </button>
  </ion-col>
  </ion-row>

  <ion-card class="promo-photo" *ngIf="promo?.photoUrl">
    <img [src]="promo?.photoUrl" >
   
        <div class="promo-preço">
            <ion-badge large clear color="light">
          {{promo?.preco | currency: 'BRL': 'symbol'}}
          </ion-badge>
        </div>
        <div class="promo-periodo">
        <div >
            <ion-badge color="secondary" *ngIf="promo?.dataInicio">
          Inicio: {{promo?.dataInicio | date: 'dd/MM/yyyy'}}
        </ion-badge>
        </div>
        <div>
          <ion-badge color="danger" *ngIf="promo?.dataFim">
          Fim: {{promo?.dataFim | date: 'dd/MM/yyyy'}}
        </ion-badge>
        </div>
      </div>
  </ion-card>
    <div class="dados-promo">
      {{promo?.dataCadastro | date: 'dd/MM/yyyy HH:mm'}}
      <ion-row class="promo-descricao">
      <div>{{promo?.descricao}}</div>
    </ion-row>
    <ion-card class="info-local">
      <ion-row>
        <ion-col col-10>
          {{promo?.local?.description}}
        </ion-col>
        <ion-col col-2>
      <a [href]="getMapLink(promo?.local?.place_id)">
        <button color="secondary" ion-button>
        <ion-icon name="map"></ion-icon>
      </button>
      </a>
      </ion-col>
      </ion-row>
    </ion-card>
     
      <ion-row>
          <ion-col>
            <button ion-button icon-start clear (click)="like(promo)">
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{promo?.curtidas?.length}}</div>
            </button>
          </ion-col>
          <ion-col>
              <button ion-button icon-start clear (click)="negativa(promo)" >
                <ion-icon name="thumbs-down"></ion-icon>
                <div>{{promo?.listaNegativacao?.length}}</div>
              </button>
            </ion-col>
          <ion-col>
            <button ion-button icon-start clear (click)="comment(promo)">
              <ion-icon name="text"></ion-icon>
              <div>{{promo?.comentarios?.length}}</div>
            </button>
          </ion-col>         
        </ion-row>
      </div> 
    </ion-card>
</div>
  <ion-fab bottom right>
    <button ion-fab (click)="addPromo()"><ion-icon name="add"></ion-icon></button>    
  </ion-fab>
</ion-content>
