page-timeline {

    .timeline-content{
        background-color: #d0d7e2
    }

    .promo-photo{
        object-fit: cover;
        max-height: 200px;
        background-color: #ffffff;
        padding-top: 0px;
        padding-bottom: 0px;
        border-radius: 8px;
        margin-top: 0px;
    }

    .promo-header{
        padding: 0px;
        margin: -4px;
    }

    .dados-promo{
        padding: 15px;
        background-color: #ffffff;
        text-align: justify;
        padding-top: 0px;
    }

    .card-promo{
        border-radius: 8px;
        position: relative;
    }

    .info-local{
        border-radius: 30px;
        background-color: #d0d7e2;
        padding-left: 10px;
        padding-top: 4px;
        padding-right: 10px;
        padding-bottom: 4px;
        margin: 0px;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 100%;
    }
    
    .promo-descricao{
        font-weight: bold;
    }

    .promo-preço{
        position: absolute;
        top: 15%;
        left: 5%;
        z-index: 1;
        font-weight: bold;
        box-shadow: 5px 5px 5px;
        
    }

    .promo-periodo{
        position: absolute;
        top: 14%;
        right: 3%;
        z-index: 2;
        text-align: right;  
        background-color: transparent;
        padding:5px;
    }
    
}
