
<ion-header>

  <ion-navbar>
    <ion-title>Busca de Locais <ion-icon name="logo-google"></ion-icon></ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
      <ion-searchbar [(ngModel)]="autocomplete" (ionInput)="updateSearchResults()" placeholder="Search for a place"></ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content >
    <ion-list [hidden]="autocompleteItems.length == 0">
        <button ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
          {{ item.description }}
        </button>
      </ion-list>

      <div id='map'></div>
</ion-content>

<ion-footer>
  </ion-footer>
