page-promo-detalhe {
    .promo-photo{
        object-fit: cover;
        width: 100%;
        height: 200px;
        align-content: center;
        border-radius: 10px;
        background-color: #fffbe0
    }

    .camera-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px
    }
   

}
