
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Nova Promoção</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item class="promo-photo">
        <ion-fab top>
          <button ion-fab><ion-icon name="add"></ion-icon></button>
          <ion-fab-list>
            <button ion-fab (click)="getCameraPicture()"><ion-icon name="camera"></ion-icon></button>
            <button ion-fab (click)="getGaleryPicture()"><ion-icon name="photos"></ion-icon></button>          
          </ion-fab-list>
        </ion-fab>
        <img *ngIf="promo?.photoUrl != null" [src]="promo?.photoUrl" />
        <ion-icon *ngIf="promo?.photoUrl == null" name="md-camera" class="camera-icon"></ion-icon>  
      </ion-item>
  <form [formGroup]="promoForm">
    <ion-list>
      <ion-item>
        <ion-label stacked>Descrição</ion-label>
        <ion-input type="text" formControlName="descricao"></ion-input>
      </ion-item>
      <button ion-item (click)="goToSelectPlace()">
        {{promo.local.description}}
          <ion-label stacked>Local</ion-label>
          <ion-input type="text"
          formControlName="local"
          placeholder="Clique para selecionar um local"
          disabled >            
          </ion-input>
        </button>        
      <ion-item>
        <ion-label stacked>Preço</ion-label>
        <ion-input type="number" placeholder="R$ 00,00" formControlName="preco"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data Inicio</ion-label>
        <ion-datetime  cancelText="Cancelar" doneText="OK" formControlName="dataInicio"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label stacked>Data Fim</ion-label>
        <ion-datetime cancelText="Cancelar" doneText="OK" formControlName="dataFim"></ion-datetime>
      </ion-item>
    </ion-list>     
  </form>
</ion-content>
<ion-footer padding>
  <ion-row>
    <ion-col col-8>
    <button ion-button small block round icon-end color="secondary" (click)="savePromo()" [disabled]="!promoForm.valid">Salvar
        <ion-icon name="send"></ion-icon>
    </button>
  </ion-col>
  <ion-col col-4>
      <button ion-button small block round icon-end (click)="limparForm()" >Limpar
          <ion-icon name="backspace"></ion-icon>
      </button>  
  </ion-col>  
  </ion-row>
</ion-footer>
